langchain
langchain-core
langchain-community
langgraph

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain_huggingface

python-dotenv
faiss-cpu
tiktoken

chromadb
pypdf
sentence-transformers

fastapi
uvicorn